@import url("./Variables.css");

:root {
    --color-pure-black: #000000;
    --color-pure-white: #ffffff;
    --color-blackout: #070707;
    --color-moon-white: #f8f8f8;
    --color-light-carbon: #cdcdcd;
    --color-medium-carbon: #878787;
    --color-dark-carbon: #575757;
    --color-sunset-orange: #fa4616;
    --color-link: #47b7f8;
}

* {
    font-family: "spaceMonoRegular";
    color: var(--color-moon-white);
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-display: swap;
}

.loading-screen {
    height: 100dvh;
    width: 100%;
    background-color: var(--color-blackout);
    padding: 1rem 2rem;
    border-radius: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    color: var(--color-dark-carbon);
    font-weight: 500;
    font-size: 25px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 40px;
    padding: 10px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 8px;
}

.words {
    overflow: hidden;
    position: relative;
}

.words::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        var(--color-blackout) 10%,
        transparent 30%,
        transparent 70%,
        var(--color-blackout) 90%
    );
    z-index: 20;
}

.word {
    display: block;
    height: 100%;
    padding-left: 6px;
    color: var(--color-sunset-orange);
    animation: spin_4991 4s infinite;
}

@keyframes spin_4991 {
    10% {
        -webkit-transform: translateY(-102%);
        transform: translateY(-102%);
    }

    25% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    35% {
        -webkit-transform: translateY(-202%);
        transform: translateY(-202%);
    }

    50% {
        -webkit-transform: translateY(-200%);
        transform: translateY(-200%);
    }

    60% {
        -webkit-transform: translateY(-302%);
        transform: translateY(-302%);
    }

    75% {
        -webkit-transform: translateY(-300%);
        transform: translateY(-300%);
    }

    85% {
        -webkit-transform: translateY(-402%);
        transform: translateY(-402%);
    }

    100% {
        -webkit-transform: translateY(-400%);
        transform: translateY(-400%);
    }
}
