@import url("./Variables.css");

:root {
    --color-pure-black: #000000;
    --color-pure-white: #ffffff;
    --color-blackout: #070707;
    --color-moon-white: #f8f8f8;
    --color-light-carbon: #cdcdcd;
    --color-medium-carbon: #878787;
    --color-dark-carbon: #575757;
    --color-sunset-orange: #fa4616;
    --color-link: #47b7f8;
}

body {
    background-color: var(--color-blackout);
    color: var(--color-moon-white);
}

h1 {
    line-height: 100%;
}

p {
    line-height: 120%;
    letter-spacing: -0.6px;
}

.project {
    padding: 120px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.project-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
}

.project-title h1 {
    font-size: 40px;
    letter-spacing: -0.6px;
}

.project-name {
    display: flex;
    gap: 12px;
    align-items: flex-end;
    flex-wrap: wrap;
}

.project-name a {
    display: flex;
    gap: 8px;
    transition: 0.3s;
    &:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
}

.document-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px;
    border: 1px solid var(--color-moon-white);
    transition: 0.3s;
    &:hover {
        transform: translate(4px, -4px);
        box-shadow: -4px 4px var(--color-dark-carbon);
        cursor: pointer;
    }
}

.project-row {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.project-heading {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    padding: 8px 0;
}

.project-text {
    padding: 8px 26px;
}

.project-text li {
    font-size: 16px;
    color: var(--color-medium-carbon);
    line-height: 120%;
    list-style: circle;
    margin-bottom: 8px;
}

.project-image-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}

.project-row-col {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project-row-col img {
    width: 100%;
    border: 1px solid var(--color-dark-carbon);
}

.web-link {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    &:hover {
        transform: scale(1.1);
    }
}

.web-link img {
    width: 24px;
    border: none;
}

.designs img {
    width: 100%;
}

.project-para {
    color: var(--color-medium-carbon);
    padding: 12px;
}

.design-img-container {
    display: flex;
    gap: 1rem;
    /* flex-wrap: wrap; */
}

.design-img-container .project-row-col {
    width: 100%;
    padding: 12px 0 0 0;
}

.design-img-container .project-row-col img {
    border: none;
}

@media (max-width: 1200px) {
    .project {
        padding: 80px 80px;
    }
}

@media (max-width: 768px) {
    .project {
        padding: 80px 16px;
    }

    .project-title h1 {
        font-size: 32px;
    }

    .design-img-container {
        flex-wrap: wrap;
    }
}
